<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>le publicateur légal - verification email</title>

  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">


  <style>
    body {
      margin: 0;
      padding: 0;
      font-family: 'Poppins', sans-serif;
      color: #23233A;
    }

    .container {
      width: 100%;
      max-width: 800px;
      margin: 0 auto;
    }

    .head {
      background-image: url('http://localhost:1337/images/email-background.png');
      width: 100%;
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .body {
      background-color: #EDEDF2;
      padding: 80px 30px;
    }

    .verification-code {
      background-color: #A3875E;
      padding: 10px 20px;
      color: white;
      font-weight: bold;
      font-size: 23px;
      letter-spacing: 4px;
      width: fit-content;
      margin: 10px auto;
      border-radius: 10px;
    }
  </style>
</head>

<body>
  <div class="container">
    <header class="head">
      <img src="http://localhost:1337/images/big-logo.png" height="150" />
    </header>
    <main class="body">
      <p>
        Bonjour <strong><%= name %></strong><br />
        Bienvenue sur le publicateur legal,<br />
        pour changer votre mot de passe, veuillez entrer le code suivant.<br />
      </p>
      <div class="verification-code"><%= code %></div>
      <p>
        le code sera expiré après 5 minutes,
        Cordialement
      </p>
    </main class="footer">
    <footer>

    </footer>
  </div>

</body>
